<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Day1 Sample content</h1>
    <!-- create a table with 3 rows and 2 columns -->
    <table>
      <th>
        <td class="group1">Sample1</td>
        <td class="group2">sample2</td>
      </th>
      <tr>
        <td>Data1</td>
        <td>Data2</td>
      </tr>
      <tr>
        <td>Data1</td>
        <td>Data2</td>
      </tr>
    </table>

    <!-- create a login form with user name and email -->
    <form >
      <input class="inGroup" type="text" placeholder="User Name" />
      <input class="inGroup" type="password" placeholder="Password" />
      <button>ClickMe</button>
    </form>
    
  </body>
</html>
