<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input id="userName" type="text" placeholder="User Name" />
    <input id="password" type="password" placeholder="Password" />
    <button onclick="login()">ClickMe</button>
    <span id="message"></span>

    <script>
      function login() {
        let username = document.getElementById("userName").value
        let password = document.getElementById("password").value
        if (username == "admin" && password == "admin") {
          console.log("Login Success")
        }
      }
    </script>
  </body>
</html>
